# Logs
/host/logs
/host/*.log
/host/npm-debug.log*
/host/yarn-debug.log*
/host/yarn-error.log*
/host/pnpm-debug.log*
/host/lerna-debug.log*

/host/node_modules
/host/dist
/host/dist-ssr
/host/*.local


/remote/logs
/remote/*.log
/remote/npm-debug.log*
/remote/yarn-debug.log*
/remote/yarn-error.log*
/remote/pnpm-debug.log*
/remote/lerna-debug.log*

/remote/node_modules
/remote/dist
/remote/dist-ssr
/remote/*.local

# Editor directories and files
/host/.vscode/*
/host/!.vscode/extensions.json
/host/.idea
/host/.DS_Store
/host/*.suo
/host/*.ntvs*
/host/*.njsproj
/host/*.sln
/host/*.sw?

/remote/.vscode/*
/remote/!.vscode/extensions.json
/remote/.idea
/remote/.DS_Store
/remote/*.suo
/remote/*.ntvs*
/remote/*.njsproj
/remote/*.sln
/remote/*.sw?
